@import "../variables";

.categories {
  margin-right: 30px;
  padding-bottom: 0;

  @media (max-width: 1300px) {
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @media (max-width: 768px) {
    margin: 0 20px;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  ul {
    display: flex;
    flex-wrap: nowrap;

    li {
      display: inline-block;
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
